# Measures of central tendency

## ->mean

In [9]:
age=[12,13,14,21,24,12]

In [10]:
# Evaluating mean using numpy
import numpy as np
np.mean(age)

16.0

## median

In [11]:
np.median(age)

13.5

## mode

In [12]:
from scipy import stats

In [13]:
stats.mode(age)

ModeResult(mode=12, count=2)

# Measures of dispersion using python

## variance and standard deviation

In [15]:
age_list=[23,42,22,23,56,74,32,68,98,45,32]

In [17]:
# using numpy
import numpy as np
mean=np.mean(age_list)
mean

46.81818181818182

In [19]:
var=np.var(age_list)
var

555.2396694214875

In [21]:
std=np.std(age_list)
std

23.56352412992351

In [22]:
# using pandas
import pandas as pd

In [23]:
data=[[10,12,13],[32,54,62],[20,25,15]]
data

[[10, 12, 13], [32, 54, 62], [20, 25, 15]]

In [24]:
df=pd.DataFrame(data,columns=["A","B","C"])

In [25]:
df

    A   B   C
0  10  12  13
1  32  54  62
2  20  25  15

In [26]:
# colum wise
df.var()

A    121.333333
B    462.333333
C    769.000000
dtype: float64

In [27]:
df.std()

A    11.015141
B    21.501938
C    27.730849
dtype: float64

In [28]:
# row wise
df.var(axis=1)

0      2.333333
1    241.333333
2     25.000000
dtype: float64

In [29]:
df.std(axis=1)

0     1.527525
1    15.534907
2     5.000000
dtype: float64